<section class="tab">
		<ul class="nav nav-pills">
			<li ng-class="{ active:options.isSelected(1) }"> 
				<a ng-click="options.selectTab(1)"> Choose yourself </a> 
			</li>
			<li ng-class="{ active:options.isSelected(2) }"> 
				<a ng-click="options.selectTab(2)"> Stryktipset </a> 
			</li>
			<li ng-class="{ active:options.isSelected(3) }"> 
				<a ng-click="options.selectTab(3)"> Europatipset </a> 
			</li>
			<li ng-class="{ active:options.isSelected(4) }"> 
				<a ng-click="options.selectTab(4)"> Topptipset </a> 
			</li>
		</ul>
	<ownchoice ng-show="options.isSelected(1)"></ownchoice>

	<stryk-dir ng-show="options.isSelected(2)"></stryk-dir>
</section>