<h1>Stryktipset</h1>
<div id="wrapper">
	<table id="first" style="border: solid;">
		<tr ng-repeat="game in stryketCtrl.games">
			<td> {{game.hometeam}} </td>
			<td> {{game.score}} </td>
			<td> {{game.awayteam}} </td>
			<td width="50px"> {{game.winner}} </td>

			<td height="50px" width="50px" style="text-align: center;" ng-class="{extraborder:game.winner == 1}"> 1 </td> <!--With two colors: {extraborder:game.winner == 1 , red:game.winner != 1}-->
			<td height="50px" width="50px" style="text-align: center;" ng-class="{extraborder:game.winner == 'X'}"> X </td>
			<td height="50px" width="50px" style="text-align: center;" ng-class="{extraborder:game.winner == 2}"> 2 </td>

		</tr>
	</table>
	<table id="second" class="fillIn" style="float:right;">
		<tr ng-repeat="game in stryketCtrl.games">
			<td ng-class="stryketCtrl.isSelected('1', game.gamenr)" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('1', game.gamenr)"> 1 </td>
			<td ng-class="stryketCtrl.isSelected('X', game.gamenr)" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('X', game.gamenr)"> X </td>
			<td ng-class="stryketCtrl.isSelected('2', game.gamenr)" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('2', game.gamenr)"> 2 </td>
		</tr>
	</table>
	<p>Number Corr = {{stryketCtrl.nrOfCorr}}</p>

</div>
