<h1>Stryktipset</h1>
<div id="wrapper">
	<table id="first" style="border: solid;">
		<tr ng-repeat="game in stryketCtrl.games">
			<td> {{game.hometeam}} </td>
			<td> {{game.score}} </td>
			<td> {{game.awayteam}} </td>
			<td> {{game.winner}} </td>

			<td height="50px" width="50px" style="text-align: center;" ng-class="{green:game.winner == 1 , red:game.winner != 1}"> 1 </td>
			<td height="50px" width="50px" style="text-align: center;" ng-class="{green:game.winner == 'X' , red:game.winner != 'X'}"> X </td>
			<td height="50px" width="50px" style="text-align: center;" ng-class="{green:game.winner == 2 , red:game.winner != 2}"> 2 </td>

		</tr>
	</table>
	<table id="second" class="fillIn" style="float:right;">
		<tr ng-repeat="game in stryketCtrl.games">

			<td ng-class="{green:stryketCtrl.isSelected('1', game.gamenr)}" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('1', game.gamenr)"> <a>1</a> </td>
			<td ng-class="{green:stryketCtrl.isSelected('X', game.gamenr)}" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('X', game.gamenr)"> <a>X</a> </td>
			<td ng-class="{green:stryketCtrl.isSelected('2', game.gamenr)}" width="50px" height="50px" style="text-align: center; border:solid;" ng-click="stryketCtrl.setTab('2', game.gamenr)"> <a>2</a> </td>

		</tr>
	</table>

</div>